crispy-bootstrap4==2024.1
Django
django-allauth==65.0.2
django-cors-headers==4.4.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-shortcuts==1.6
django-test==0.4030
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
googleapis-common-protos==1.65.0
googledrivedownloader==0.4
oauthlib==3.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
requests==2.32.3
requests-oauthlib==2.0.0
selenium==4.25.0
setuptools==70.0.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.6
sqlparse==0.5.0
urllib3==2.2.1
webdriver-manager==4.0.2
websocket-client==1.8.0
wheel==0.43.0