#navbar-logo{
    height:100px;
    width=auto;
    padding: 0px 0px 0px 0px;
}

#examore{
    font-weight:bold;
}

.navbar-custom{
    position:fixed;
    top:0;
    left:0;
    right:0;
    transition: top .2s ease;
}
.navbar-custom.hidden{
    top: -120px;
}

.navbar-custom .btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-family:'Arial';
    color: #000;
    background-color: #ff9900;
    border: none;
    border-radius: 40px;
    margin: 10px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-custom .btn:hover{
    background-color: #e68a00;
    transform: scale(1.1);
    font-weight:bold;
}

.nav-item{
    padding: 0px 120px 0px 0px;
}

.nav-item a{
    font-family:'Arial';
    font-size:20px;
    transition: transform 0.2s ease;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;

}
.nav-item a:hover{
    transform:scale(1.05);
    font-weight:bold;
}

.saluto-utente{
    font-size:20px;
    margin:0;
}

.saluto-utente a{
    text-decoration:none;
    color:#000;
    font-weight:bold;
    cursor:mouse;
    text-transform:uppercase;
}

.saluto-utente a:hover{
    color:#ff9900;
}



.logout-btn{
    margin-left:20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    color: #000;
    background-color: #ff9900;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.logout-btn:hover{
    background-color: #e68a00;
    transform: scale(1.1);
    font-weight:bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #ffffff, #d6ccc2);
}
.container {
  position: relative;
  width: 1300px;
  min-height: 850px;
  margin-top:150px;
  padding: 5px;
  color: #fff;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f48c06;
}
.left {
  width: 60%;
  padding: 20px;
}
.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #000;
  border-radius: 5px;
  background-color: #fff;
}
/* set after behind the main element */
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #ffba08;
  transform: translateY(-50%);
}
.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: #faa307;
}
.calendar .month {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: #f48c06;
  transform: scale(1.2);
}
.weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-top:-70px;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom:20px;
  margin-top:-40px;
}
.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  border: 1px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #000;
  background-color: #ffd000;
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #000;
  background-color: #ffb700;
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 2rem;
  background:#faa307;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: #ffb700;
}
.calendar .days .day:hover.event::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 5px;
}
.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: #000;
}
.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #000;
  color:#000;
}
.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: #000;
  border-radius: 5px;
}
.calendar .goto-today button {
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color:#ffd000 ;
  cursor: pointer;
  color: #000;
}
.calendar .goto-today button:hover {
  background-color: #ffb700;
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 2px solid #000;
  border-radius: 0;
}
.today-btn{
    margin-right: 30px;
}
.today-btn:hover{
    transform:scale(1.1);
}

.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  width: 500px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
  color:#000;
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}
.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;

}
.events {
  margin-left:15px;
  width: 90%;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto hidden;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: #e85d04;
  cursor: pointer;
  border-radius:10px;
  margin-bottom:20px;
}

.events .event:hover {
  background: #ffba08;
  transform:scale(1.02);
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
  color:#000;
  margin-top:7px;
}
.events .event i {
  color: #000;
  font-size: 0.5rem;
}
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #370617;
  margin-left: 15px;
  pointer-events: none;
}


.filter-container{
    display:flex;
    flex-direction:column;
    background:#f48c06;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    width:1300px;
    height: 400px;
    align-items:center;
    font-family: "Poppins", sans-serif;

}

.filter-container h4{
    color:#000;
    font-size: 35px;
    margin-top:20px;
    margin-bottom:50px;
    text-align:center;
    font-weight:600;
}

.f-label{
    color:#000;
    margin-bottom:30px;
    font-size:20px;
    margin-right: 80px;
}

.f-select{
    background:#ffd000;
    padding: 5px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor:pointer;
}

.f-select:hover{
    background:#ffb700;
}

.filter-button{
    background:#fed0bb;
    margin-left: 250px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius:10px;
}

.filter-button:hover{
    transform:scale(1.07);
}

.reset-filter-button{
    background:#d5d5d5;
    margin-left: 10px;
    margin-right:270px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius:10px;
}

.reset-filter-button:hover{
    transform:scale(1.07);
}


.aule-container{
    display:flex;
    flex-direction:column;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:200px;
    min-width:1300px;
    min-height: 1360px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.title-container{
    background:#f48c06;
    color:#000;
    width:1300px;
    height:100px;
    border-top: 2px solid #000;
    text-align: center;
}

.title-container h4{
    margin-top: 30px;
    font-size:35px;
    font-weight:600;
}

.real-aule-container{
    display:flex;
    flex:1;
    height:auto;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.left-aule{
    z-index:1;
    height:1360px;
    width:390px;
    display:flex;
    flex-direction:column;
    border-bottom-left-radius:10px;
}

.right-aule{
    height:1360px;
    width:910px;
    display:flex;
    flex-direction:column;
    border-bottom-right-radius:10px;
}

.single-aula{
    min-height:80px;
    width:390px;
    color:#000;
    background:#fed0bb;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    text-align:center;
    padding-top:20px;
    font-size:20px;
    font-weight:550;

}

.disp{
    height:80px;
    width:910px;
    color:#000;
    background:#ffe5e5;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap: 10px;
    padding:20px;
}

.single-disp{
    width: 150px;
    height:40px;
    background:#ff9500;
    border: 2px solid #000;
    border-radius:20px;
    display:flex;
    justify-content:center;
    padding:5px;
    font-size:18px;
}

.aule-filter{
    display:flex;
    width:1300px;
    height:400px;
    background:#f48c06;
    flex-direction:column;
    text-align:center;
    border-bottom:2px solid #000;
}

.aule-filter h4{
    margin-top:20px;
    font-size:25px;
    font-weight:600;
    margin-top:-10px;
    margin-bottom: 20px;
}

.aula-label{
    color:#000;
    margin-bottom:30px;
    font-size:20px;
    margin-right: 80px;
}

.aula-select{
    background:#ffd000;
    padding: 5px 20px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor:pointer;

}

.aula-select:hover{
    background:#ffb700;
}


.update-disp{
    gap:0px;
}

.disp-input{
  width: 200px;
  height: 40px;
  outline: none;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 0 20px;
  color: #000;
  border-radius: 5px;
}

.disp-btn{
  padding: 7px 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color:#ffd000 ;
  cursor: pointer;
  color: #000;
  margin-left:10px;
  margin-right:0px;
}

.disp-btn:hover{
    background:#ffb700;
}

.aule-btn{
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color:#fed0bb;
  cursor: pointer;
  color: #000;
  margin-top:50px;
}

.aule-btn:hover{
    transform:scale(1.07)
}

.reset-aule-button{
    background:#d5d5d5;
    margin-left: 10px;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius:10px;
}

.reset-aule-button:hover{
    transform:scale(1.07)
}

#data-titolo{
    font-size:35px;
    font-weight:500;
}
.scraping-alert{
    margin-top:10px;
    width:1300px;
    height:100px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}

.scr-info{
    margin-top: 10px;
    font-size: 20px;
    font-weight:600;

}

.scr-btn{
    color:#000;
    background:#fed0bb;
    border-radius:10px;
    border:2px solid #000;
    padding: 5px 10px;
    margin-bottom:5px;
}

.scr-btn:hover{
    transform:scale(1.07);
}