#navbar-logo{
    height:100px;
    width=auto;
    padding: 0px 0px 0px 0px;
}

#examore{
    font-weight:bold;
}

.navbar-custom{
    position:fixed;
    top:0;
    left:0;
    right:0;
    transition: top .2s ease;
}
.navbar-custom.hidden{
    top: -120px;
}

.navbar-custom .btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-family:'Arial';
    color: #000;
    background-color: #ff9900;
    border: none;
    border-radius: 40px;
    margin: 10px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-custom .btn:hover{
    background-color: #e68a00;
    transform: scale(1.1);
    font-weight:bold;
}

.nav-item{
    padding: 0px 120px 0px 0px;
}

.nav-item a{
    font-family:'Arial';
    font-size:20px;
    transition: transform 0.2s ease;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;

}
.nav-item a:hover{
    transform:scale(1.05);
    font-weight:bold;
}

.saluto-utente{
    font-size:20px;
    margin:0;
}

.saluto-utente a{
    text-decoration:none;
    color:#000;
    font-weight:bold;
    cursor:mouse;
    text-transform:uppercase;
}

.saluto-utente a:hover{
    color:#ff9900;
}



.logout-btn{
    margin-left:20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    color: #000;
    background-color: #ff9900;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.logout-btn:hover{
    background-color: #e68a00;
    transform: scale(1.1);
    font-weight:bold;
}


body {
    margin:0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #ff9900);
}

#exam-title{
    margin: 150px 0px 0px 0px;
    animation: titleSlide 2s ease-in-out;
}

.advise h4{
    margin: 0px 0px 40px 0px;
}

.login-redirect-btn{
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    color: #000;
    background-color: #fff;
    border-width:2px;
    border-color:#000;
    border-radius: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.login-redirect-btn:hover{
    background-color: #ff9900;
    transform: scale(1.1);
    font-weight:bold;
}


.main-content{
    max-width: 1200px;
    margin: 10px 0px 0px 40px;
    padding: 20px;
}

.main-content h5{
    margin-bottom: 70px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    width: calc(25% - 20px); /* 4 card per riga con gap */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #000;
}

.card-link {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 20px;
    color: #000;
    background-color: #ff9900;
    text-decoration:none;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card-link:hover {
    transform: scale(1.07);
    color: #000;
}


@keyframes titleSlide {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}