#navbar-logo{
    height:100px;
    width=auto;
    padding: 0px 0px 0px 0px;
}

#examore{
    font-weight:bold;
}

.navbar-custom{
    position:fixed;
    top:0;
    left:0;
    right:0;
    transition: top .2s ease;
}
.navbar-custom.hidden{
    top: -120px;
}

.navbar-custom .btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-family:'Arial';
    color: #000;
    background-color: #ff9900;
    border: none;
    border-radius: 40px;
    margin: 10px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar-custom .btn:hover{
    background-color: #e68a00;
    transform: scale(1.1);
    font-weight:bold;
}

.nav-item{
    padding: 0px 120px 0px 0px;
}

.nav-item a{
    font-family:'Arial';
    font-size:20px;
    transition: transform 0.2s ease;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;

}
.nav-item a:hover{
    transform:scale(1.05);
    font-weight:bold;
}

.saluto-utente{
    font-size:20px;
    margin:0;
}

.saluto-utente a{
    text-decoration:none;
    color:#000;
    font-weight:bold;
    cursor:mouse;
    text-transform:uppercase;
}

.saluto-utente a:hover{
    color:#ff9900;
}



.logout-btn{
    margin-left:20px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    color: #000;
    background-color: #ff9900;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.logout-btn:hover{
    background-color: #e68a00;
    transform: scale(1.1);
    font-weight:bold;
}

body {
    margin:0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #ff9900);
}

.title{
    margin-top: 150px;
    margin-bottom: 40px;
}

.info1{
    margin-bottom:50px;
}

.scraping-btn{
    background:#ff9e00;
    border-radius:10px;
    border: 2px solid #000;
    padding: 10px 30px;
    margin-left:10px;
    margin-right: 30px;
    margin-bottom:30px;
}

.scraping-btn:hover{
    transform:scale(1.07);
    background:#ffb700;
}

.back-btn{
    background:#d5d5d5;
    border-radius:10px;
    border: 2px solid #000;
    padding: 10px 15px;
    margin-bottom:30px;
}

.back-btn:hover{
    transform:scale(1.07);
    background:#89c2d9;
}