<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>
        {% block title %}
            Examore
        {% endblock %}
    </title>

    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/E.png' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">


      {% block custom_css %}
      {% endblock %}
  </head>
  <body>

  {% block nav %}
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom" id="navbar-home">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/" id="examore">
            <img src="{% static 'img/UnimoreLogo.png' %}" class="img-fluid" alt="Logo" id="navbar-logo">
            Examore
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'esami' %}">Esami</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link active" href="{% url 'calendar' %}">Calendario</a>
                </li>
            </ul>
            <span></span>
            {% if user.is_authenticated %}
                <p class="saluto-utente">Ciao <a class="username">{{ user.username }}</a></p>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            {% endif %}

        </div>
    </div>
  </nav>
  {% endblock %}

  {% block container %}
   <div class="container">
       {% block intro %}
        <!-- Sezione Logo e Titolo -->
        <div class="intro">
            <img src="/static/img/UnimoreLogo.png" alt="Unimore Logo" class="logo">
            <h1>Examore</h1>
            <p class="subtitle">Un modo semplice per organizzare esami senza sovrapposizioni</p>
        </div>

       {% endblock %}

       {% block content %}
        <!-- Sezione pulsanti -->
        <div class="buttons">
            <a href="/esami" class="btn">Esami</a>
            <a href="/calendar" class="btn">Calendario</a>
            <a href="/login" class="btn">Login</a>
        </div>

        <!-- Sezione Come Funziona -->
        <section id="come-funziona">
            <h2>Come Funziona?</h2>
            <div class="steps">
                <div class="step">
                    <h3>1. Effettua il login</h3>
                    <p>Accedi con le tue credenziali Unimore per visualizzare gli esami e il calendario.</p>
                    <a href="/login">
                        <button class="general-btn">Login</button>
                    </a>

                </div>
                <div class="step">
                    <h3>2. Prenota gli esami</h3>
                    <p>Vai nella sezione Esami per selezionare il calendario relativo alla tua facoltà.</p>
                    <a href="/esami">
                        <button class="general-btn">Esami</button>
                    </a>

                </div>
                <div class="step">
                    <h3>3. Visualizza il tuo calendario</h3>
                    <p>Vai alla sezione Calendario per vedere tutti gli esami e le disponibilità delle aule.</p>
                    <a href="/calendar">
                        <button class="general-btn">Calendario</button>
                    </a>
                </div>
            </div>
        </section>
       {% endblock %}
    </div>
    {% endblock %}
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/javascript/navbarscroll.js"></script>

  </body>
</html>