<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Examore | Calendario</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/E.png' %}">
    <link rel="stylesheet" href="{% static 'style/calendar.css' %}">

    {% load custom_tags %}
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-custom" id="navbar-home">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" href="/" id="examore">
            <img src="/static/img/UnimoreLogo.png" class="img-fluid" alt="Logo" id="navbar-logo">
            Examore
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/esami">Esami</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/calendar">Calendario</a>
            </li>
          </ul>
          <span></span>
            {% if user.is_authenticated %}
                <p class="saluto-utente">Ciao <a class="username">{{ user.username }}</a></p>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
            {% endif %}
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="left">
            <div class="calendar">
                <div class="month">
                    <i class="fa fa-angle-left prev"></i>
                    <div class="date"></div>
                    <i class="fa fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                    <div>Dom</div>
                    <div>Lun</div>
                    <div>Mar</div>
                    <div>Mer</div>
                    <div>Gio</div>
                    <div>Ven</div>
                    <div>Sab</div>
                </div>
                <div class="days">
                    <!-- aggiungeremo i giorni i  Javascript  -->
                </div>
                <div class="goto-today">
                    <div class="goto">
                        <input type="text" placeholder="gg/mm/yyyy" class="date-input">
                        <button class="goto-btn" type="submit">Cerca</button>
                    </div>
                    <button class="today-btn">Oggi</button>
                </div>
                <form id="dateForm" method="POST" action="{% url 'calendar' %}" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="day" id="selectedDay">
                    <input type="hidden" name="month" id="selectedMonth">
                    <input type="hidden" name="year" id="selectedYear">
                </form>
            </div>

        </div>
        <div class="right">
            <div class="today-date">
                <h4 id="data-titolo">{{data_attuale}}:</h4>
                <div class="event-day"></div>
            </div>
            <div class="events">
                {% if appelli %}
                    {% for appello in appelli %}
                        <div class="event">
                            <div class="title">
                                <i class="fas fa-circle"></i>
                                <h3 class="event-title">{{appello.esame}}</h3>
                            </div>
                            <div class="event-time">
                                {{appello.data}}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="event">
                            <div class="title">
                                <i class="fas fa-circle"></i>
                                <h3 class="event-title">Nessun Appello Trovato</h3>
                            </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="filter-container">
        <h4>Filtri per gli Appelli:</h4>
        <form id="filter-form" method="post" action="{% url 'calendar' %}">
            {% csrf_token %}
            <div>
                <label class="f-label">Seleziona il Giorno:</label>
                <select class="f-select" name="giorno_esame">
                    <option value="1" >Giorno cliccato sul calendario</option>
                    <option value="">Data Odierna</option>
                </select>
            </div>
            <div>
                <label class="f-label">Seleziona l'Anno per i Corsi degli Appelli:</label>
                <select class="f-select" name="anno_esame">
                    <option value="">Scegli Anno</option>
                    <option value="1" >1° anno</option>
                    <option value="2">2° anno</option>
                    <option value="3">3° anno</option>
                </select>
            </div>
            <div>
                <label class="f-label">Seleziona il Periodo per i Corsi degli Appelli:</label>
                <select class="f-select" name="periodo_esame">
                    <option value="">Scegli Periodo</option>
                    <option value="1">1° semestre</option>
                    <option value="2">2° semestre</option>
                    <option value="3">Ciclo Annuale Unico</option>
                </select>
            </div>
            <button type="submit" class="filter-button">Applica Filtri Appelli</button>
            <a href="/calendar"><button class="reset-filter-button">Resetta Filtri Appelli</button></a>

        </form>
    </div>

    <div class="aule-container">
        {% if day_selected is not None and month_selected is not None and year_selected is not None %}
            <div class="title-container">
                <h4>Disponibilità Aule per il giorno {{day_selected}}/{{month_selected}}/{{year_selected}}:</h4>
            </div>
        {% else %}
            <div class="title-container">
                <h4>Disponibilità Aule per il giorno {{data_attuale}}:</h4>
            </div>
        {% endif %}
        <div class="aule-filter">
            <h4>Filtri per le Aule:</h4>
            <form id="aule-form" method="post" action="{% url 'calendar' %}">
                {% csrf_token %}
                <div>
                    <label class="aula-label">Mostra le disponibilità dell'aula:</label>
                    <select class="aula-select" name="aula_visible">
                        <option value="">Tutte le aule</option>
                        {% for aula in aule_select_filter %}
                            <option value="{{aula.nome}}">{{aula.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <h5>Ricerca Disponibilità Aule per il giorno segnato:</h5>
                <div class="update-disp">
                    <input type="text" placeholder="gg/mm/yyyy" class="disp-input" name="disp-input">
                    <button  type="submit" class="disp-btn">Mostra disponibilità</button>
                </div>
                <button type="submit" class="aule-btn">Applica Filtri Aule</button>
                <a href="/calendar"><button class="reset-aule-button">Resetta Filtri Aule</button></a>
            </form>

        </div>

        <div class="real-aule-container">
            <div class="left-aule">
                {% for aula in aule %}
                    <div class="single-aula">{{aula.nome}}</div>
                {% endfor %}
            </div>
            <div class="right-aule">

                {% for aula in aule %}
                    <div class="disp">
                        {% with disponibilita=aule_disponibilita|get_item:aula %}
                            {% if disponibilita %}
                                {% for d in disponibilita%}
                                    <div class="single-disp">{{d.ora_inizio}}-{{d.ora_fine}}</div>
                                {% endfor %}
                            {% else %}
                                <div class="single-disp">No disp.</div>
                            {% endif %}
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/static/javascript/calendar.js"></script>
    <script src="/static/javascript/navbarscroll.js"></script>
</body>
</html>

